h1{
    color: white;
}
body{
    background-color: black;
}
label{
    color: white;
}
input{
    display: flex
}
.button{
    background-color: rgb(82, 245, 6);
    color: black;
}
.apagar{
    background-color: blue;
    color: white;
}